.countdown-circle {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background: white;
	margin-left: auto;
	margin-right: auto;
}

.countdown-circle .countdown-text {
    font-size: 38px;
    color: black;
}

.countdown-label {
	text-align: center;
	margin-bottom: 20px;
}

.countdown-container {
	display: inline;
}

.v-centred {
	text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.v-centred-50 {
	-ms-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.v-centred-100 {
	-ms-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.center-text {
	text-align: center;
}

.large-text {
	font-size: 24px;
}


.centered-paragraph {
	margin-left: auto !important;
	margin-right: auto !important;
}

#rsvp-blurb {
	max-width: 700px;
	margin-top: 35px;
}

.no-left-gap {
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
	width: 100%;
}

.no-left-gap .section-heading {
	margin-top: 10%;
}

.no-v-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.screen-height {
	height: calc(100vh - 50px);
}

.dark {
	color: black;
	border-color: black;
}

.no-border {
	border: none;
}

.rsvp-form .form-control {
	width: 35%;
	min-width: 188px;
	display: initial;
}

.rsvp-form .form-control-feedback {
	margin-left: auto;
	margin-right: auto;
	position: initial;
	line-height: 1.4;
	width: 100%;
	display: none;
}

.modal-footer {
	margin-top: 50px;
}

.response-options {
	margin-bottom: 15px;
}

.name-header {
	margin-top: -15px;
    margin-bottom: 15px;
}

#rsvpModal2 .modal-body {
	padding-top: 0;
}

hr .short {
	max-width: 15px;
}

#map {
	height: 400px;
	width: 100%;
	border: 10px solid white;
	margin: 10px;
}

#last-p {
	margin-bottom: 30px;
}
